body  {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    background-color: palegreen;
}

#conteudo p {
    background-color: palevioletred;
}

#conteudo p.texto {
    background-color: paleturquoise;
}