@charset "UTF-8";

.container {
    background-color: palegreen;
    /*padding: 20px;*/
    margin: 20px;
    width: 300px;
    padding: 10px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    align-content: space-between;
}

.item {
    background-color: orange;
    height: 40px;
    width: 40px;
}

#container-01 {
    
    flex-flow: row wrap;

}

#container-02 {
    flex-flow: column wrap;
}