@charset "UTF-8";

.container {
    background-color: palegreen;
    /*padding: 20px;*/
    margin: 20px;
    width: 300px;
    padding: 10px;
    height: 250px;
    display: flex;
    gap: 10px 20px;
}

.item {
    background-color: orange;
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    flex-flow: column wrap;
}