@charset "UTF-8";

.container {
    background-color: blueviolet;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;
}

#container-01 {
    flex-flow: row wrap;
}

#container-02 {
    flex-flow: column wrap;
}

.item {
    background-color: yellow;
    padding: 8px;
}

.item-04 {
    order: -1;
}
